.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > button {
  width: 20%;
  border-radius: 10px;
  padding: 15px;
  background-color: #fabc5f;
  color: #eff2f5;
  font-weight: 800;
  font-size: medium;
  top: -150px;
}

@media (max-width: 768px){
  .login > button {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    background-color: #fabc5f;
    color: #eff2f5;
    font-weight: 800;
    font-size: small;
    top: 2px;
  }
}

.login > button:hover {
  background-color: gainsboro;
  color: #575451;
}

.login__logo {
  margin-bottom: -150px;
}

.login__logo > h1 {
  align-items: center;
  color: #575451;
  font-family: "Thonburi-Bold";
}
